:root {
  --color-primary: #08465a;
  --color-primary-light: #095067;
  --color-primary-dark: #063b4c;
  --color-primary-dark: #041f2d;
  --color-primary-dark-light: #042333;
  --color-primary-dark-dark: #031a26;
  --color-secondary: #d78b2d;
  --color-secondary-light: #f79f33;
  --color-secondary-dark: #b67626;
  --color-secondary-dark: #d19134;
  --color-secondary-dark-light: #f0a63b;
  --color-secondary-dark-dark: #b17b2c;
  --color-info: #6d8899;
  --color-info-light: #7d9caf;
  --color-info-dark: #5c7382;
  --color-success: #5ca96a;
  --color-success-light: #69c279;
  --color-success-dark: #4e8f5a;
  --color-warning: #e5af3c;
  --color-warning-light: #ffc945;
  --color-warning-dark: #c29433;
  --color-error: #d04545;
  --color-error-light: #ef4f4f;
  --color-error-dark: #b03a3a;
  --color-notice: #4c96af;
  --color-notice-light: #57acc9;
  --color-notice-dark: #407f94;
  --color-doku: #4584a6;
  --color-doku-light: #4f97be;
  --color-doku-dark: #3a708d;
  --color-hilfe: #4c96af;
  --color-hilfe-light: #57acc9;
  --color-hilfe-dark: #407f94;
  --color-wartung: #b8793a;
  --color-wartung-light: #d38b42;
  --color-wartung-dark: #9c6631;
  --color-informal: #7c7c7c;
  --color-informal-light: #8e8e8e;
  --color-informal-dark: #696969;
  --color-projekt: #2e5e6e;
  --color-projekt-light: #346c7e;
  --color-projekt-dark: #274f5d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1a1a1a;
    --color-text: #eaeaea;
    --color-primary: #052d3a;
    --color-primary-light: #053342;
    --color-primary-dark: #042631;
    --color-primary-dark: #02141d;
    --color-primary-dark-light: #021721;
    --color-primary-dark-dark: #011118;
    --color-secondary: #8b5a1d;
    --color-secondary-light: #9f6721;
    --color-secondary-dark: #764c18;
    --color-secondary-dark: #875e21;
    --color-secondary-dark-light: #9b6c25;
    --color-secondary-dark-dark: #724f1c;
    --color-info: #465863;
    --color-info-light: #506571;
    --color-info-dark: #3b4a54;
    --color-success: #3b6d44;
    --color-success-light: #437d4e;
    --color-success-dark: #325c39;
    --color-warning: #947127;
    --color-warning-light: #aa812c;
    --color-warning-dark: #7d6021;
    --color-error: #872c2c;
    --color-error-light: #9b3232;
    --color-error-dark: #722525;
    --color-notice: #316171;
    --color-notice-light: #386f81;
    --color-notice-dark: #295260;
    --color-doku: #2c556b;
    --color-doku-light: #32617b;
    --color-doku-dark: #25485a;
    --color-hilfe: #316171;
    --color-hilfe-light: #386f81;
    --color-hilfe-dark: #295260;
    --color-wartung: #774e25;
    --color-wartung-light: #88592a;
    --color-wartung-dark: #65421f;
    --color-informal: #505050;
    --color-informal-light: #5c5c5c;
    --color-informal-dark: #444444;
    --color-projekt: #1d3d47;
    --color-projekt-light: #214651;
    --color-projekt-dark: #18333c;
  }
}