# ============
# Wikonia .gitignore
# ============

# 0. Niemals auf GitHub: Secrets
secrets.*
!secrets.dev.template.php

# 1. MediaWiki Core, den wir nicht unnötig auf GitHub pumpen
includes/
maintenance/
mw-config/
resources/
serialized/
languages/
wiki.phtml
autoload.php
index.php
load.php
*.json
thumb*
api.php
img_auth*
rest.php

StartProfiler.php
docs/
vendor/
tests/

# 1.a eigene Anpassungen und Includes
!custom/*

# 2. Beispiel- oder Setup-Dateien von MediaWiki
*.sample
*-sample
*.orig
composer.json
composer.lock
RELEASE-NOTES*
UPGRADE*
CODE_OF_CONDUCT.md
CREDITS
COPYING
INSTALL
HISTORY
FAQ
README.md
readme.html

# 3. Extensions (außer eigene)
extensions/*
!extensions/WikoniaExtension/

# 4. Skins (außer eigener)
skins/*
!skins/WikoniaSkin/

# 5. Assets (außer eigene)
wikonia-assets/fonts/fontawesome-free/

# 6. Lokale Dateien und Editoren
.vscode/
.idea/
*.log
*.bak
*.tmp
.cache/
*.swp
.DS_Store
Thumbs.db
*.code-workspace
*.sublime-workspace

# 7. Git-Altlasten und Readme aus Extensions
**/.git
**/README.md
!/README.md
!/wikonia-assets/**/*.md
!CHANGELOG.md

# 8. Docker (nur lokal für Dev)
docker-compose.yml
docker-compose.overide.yml
Dockerfile
.env

# 9. Backup-Dateien oder temporäre Scripts
*.old
*.backup
*.zip
*.tar.gz
dump.sql
*.7z
*.swp
*.swo
*.tmp
*.bak~

# 10. System-/Projektübergreifend
node_modules/
tmp/
cache/
/images
/vendor/
/composer.lock

